page-settings {}

.toolbar-background {
    background-color: blue;
}

.toolbar-title-md {
    color: white;
}

.card-content-md {
    color: green;
    font-weight: 200;
}

h4 {
    text-align: center;
    color: #4c4c4c;
}

.image {
    position: relative;
    width: 100%;
    padding: 10px;
}