page-settings {}

.toolbar-background {
    background-color: blue;
}

.toolbar-title-md {
    color: white;
}

.card-content-md {
    color: green;
    font-weight: 200;
}

h4 {
    text-align: center;
    color: #4c4c4c;
}

.image {
    position: relative;
    width: 100%;
    padding: 10px;
}

.tip {
    width: 95%;
    margin: 5px auto;
    background: #5a41ff;
    border-radius: 4px;
    padding: 20px 0px;
}

.tip_title {
    font-size: 12px;
    color: white;
    margin: 0 auto;
}

.title {
    margin: 20px auto 15px auto;
    color: grey;
    font-size: 16px;
    text-align: center;
}

.menu_item {
    text-align: center;
    color: grey;
    font-size: 15px;
    padding-bottom: 4px;
}

.selected {
    border-bottom: 3px solid #5a41ff;
    color: #5a41ff;
}

.footer {
    position: absolute;
    bottom: 5px;
    z-index: 999;
}