<ion-header no-shadow>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide >
      <img src="assets/img/ica-slidebox-img-3.png" class="slide-image" />
      <ion-buttons end class="center">
        <a (click)="startApp()" color="primary">Get Started</a>
      </ion-buttons>
    </ion-slide>
  </ion-slides>
  <ion-buttons end *ngIf="showSkip">
    <a (click)="startApp()" color="primary">SKIP</a>
  </ion-buttons>

</ion-content>
